.not-found {
  background-color: $city-blue;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: $fontfamily;
  font-weight: bold;
  h2,
  p {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }
}
.404-searchform-container {
  width: 90%;
  margin: 0 auto;
}

.404-header h2,
.404-page-content p {
  margin: 0;
  padding-top: 1rem;
  color: white;
  text-align: center;
}

#redirect-not-found {
  color: #ffffff;
  font-weight: lighter;
  font-family: $fontfamily;
  margin: 1.5em auto;
}
