//HEADER/BANNER
.blog-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  @include tablet {
    height: 250px;
  }
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  h1 {
    font-size: 2em;
    text-align: left !important;
    font-family: $fontfamily;
    color: white;
    @include tablet {
      font-size: 2.5em;
    }
  }
  h4 {
    font-size: 0.9em;
    font-weight: normal;
    text-align: left;
    font-family: $fontfamily;
    color: white;
    width: 75%;
    @include tablet {
      width: 50%;
      font-size: 1em;
    }
    @include desktop {
      width: 42.5%;
      font-size: 1.15em;
    }
    span {
      font-weight: bold;
    }
  }
}
//MAIN CONTENT CONTAINER
.blog-content-container {
  display: flex;
  flex-direction: row;
}
//SIDEBAR
.blog-sidebar {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    margin: 4em;
    height: 45vh;
    margin: 5em 3em;
  }
  @include desktop {
    height: 35vh;
    width: 20%;
    display: flex;
    justify-content: inherit;
    align-items: flex-start;
    margin: 1em 4em;
  }
}
 .fixed-sidebar {
   position: fixed;
   top: 0;
   width: 20%;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 1em 4em;
}
.sidebar-item {
  color: $city-blue;
  font-size: 1em;
  font-family: $fontfamily;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
  h4 {
    margin-bottom: 15px;
    padding-left: 1em;
  }
  p {
    margin-bottom: 10px;
    color: $city-blue;
    font-family: $fontfamily;
    font-size: 0.9em;
    font-weight: lighter;
  }
  a {
    color: $city-blue;
    font-weight: normal;
    outline: none;
    &:hover {
      text-decoration: underline;
      color: $dark-blue;
    }
  }
}
.categories {
  list-style-type: none;
  padding-left: 0;
  ul {
    margin: 0.5em 0;
  }
  li {
    margin-bottom: 5px;
  }
  a {
    font-size: 0.9rem;
    outline: none;
  }
}
//CONTENT BLOCK
.blog-archive-feed {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2em auto;
  @include tablet {
  width: 80%;
    margin: 0 3em 0 0;
  }
  @include desktop {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.blog-featured-image {
  display: flex;
  justify-content: flex-start;
  position: relative;
  box-shadow: 3px 4px 8px 0 rgba(0,0,0,.25);
  height: 250px;
  margin: 1em;
  border-radius: 5px;
  width: 100%;
  @include tablet {

    height: 300px;
    margin-bottom: 2em;
  }
  @include desktop {
    margin-bottom: 4em;
  }
  &:hover {
    box-shadow: 4px 5px 20px 0 rgba(0,0,0,0.35);
    transition: all 0.25s ease;
    left: 3px;
  }
}
.blog-credits {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  height: 55%;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 5em;
  color: white;
  position: absolute;
  background: linear-gradient(to right, rgba(0,118,165,0.75) 0%,rgba(0,177,234,0.75) 80%,rgba(0,118,165,0.75) 99%,rgba(0,118,165,0.75) 100% );
  @include tablet {
    height: 68%;
    margin-top: 3em;
  }
  h2,
  p {
    color: white;
    max-width: 90%;
  }
  h2 {
    font-size: 1.5em;
    font-weight: normal;
    padding: 0.5rem 0 0.5rem 1rem;
    line-height: 1.15em;
    &:hover {
      text-decoration: underline;
    }
    @include tablet {
      font-size: 1.5em;
    }
    @include desktop {
      font-size: 2em;
      padding: 0.5rem 0 0.5rem 1.5rem;
    }
  }
  p {
    display: block;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8em;
    padding-left: 1.5em;
    margin-bottom: 0;
    @include tablet {
      padding: 0.5em 0.5em 0.5em 1.5em;
    }
    @include desktop {
      font-weight: lighter;
      line-height: 1em;
      margin: 0.5em;
      font-size: 0.8em;
      font-family: $fontfamily;
    }
  }
  a {
    color: white;
    font-weight: lighter;
    outline: none;
  }
}
.date {
  display: none;
  @include tablet {
    display: block;
    font-size: 0.7em;
    padding: 0.5em 1em;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
.category {
  display: none;
  @include tablet {
    display: block;
    padding-left: 1.1em !important;
  }
  @include desktop {
    padding-left: 1.5em !important;
  }
  a {
    font-size: 0.9em;
    font-weight: 600;
    font-family: $fontfamily;
    &:hover {
      text-decoration: underline;
    }
  }
}
