//HEADER/BANNER
.blog-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include desktop {
    height: 250px;
  }
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5em 0 0 1.5em;
  @include desktop {
    padding: 3em 0 0 5em;
  }
  h1 {
    font-size: 2em;
    text-align: left !important;
    font-family: $fontfamily;
    color: white;
    @include desktop {
      font-size: 2.5em;
    }
  }
  h4 {
    font-size: 0.9em;
    font-weight: normal;
    text-align: left;
    font-family: $fontfamily;
    color: white;
    width: 85%;
    @include desktop {
      font-size: 1.15em;
      width: 42.5%;
    }
    span {
      font-weight: bold;
    }
  }
}
.blue-overlay-2 {
  background: linear-gradient(to right, rgba(2,119,167,0.7) 0%,rgba(203,173,201,0.7) 100%);
  height: 153px;
  width: 100%;
  z-index: 2;
  @include desktop {
    height: 202px;
  }
}
//MAIN CONTENT CONTAINER
.blog-content-container {
  display: flex;
  flex-direction: row;
}
//SIDEBAR
.blog-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  margin: 2em 0 0 3em;
  height: 69vh;
}
.sidebar-item {
  color: $city-blue;
  font-size: 1em;
  font-family: $fontfamily;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
  h4 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  a {
    color: $city-blue;
    font-weight: normal;
    outline: none;
    &:hover {
      text-decoration: underline;
      color: $dark-blue;
    }
  }
}
.categories {
  list-style-type: none;
  padding-left: 0;
  ul {
    margin: 0.5em 0;
  }
  li {
    margin-bottom: 5px;
  }
  a {
    font-size: 0.9rem;
    outline: none;
  }
}
//CONTENT BLOCK
.blog-archive-feed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4em 0 0 4em;
}
.blog-featured-image {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 750px;
  position: relative;
  margin-bottom: 4em;
  box-shadow: 3px 4px 8px 0 rgba(0,0,0,.25);
  &:hover {
    box-shadow: 4px 5px 20px 0 rgba(0,0,0,0.35);
    transition: all 0.25s ease;
    left: 3px;
    top: 3px;
  }
}
.blog-credits {
  width: 80%;
  height: 60%;
  box-sizing: border-box;
  margin-top: 2em;
  color: white;
  position: absolute;
  background: linear-gradient(to right, rgba(0,118,165,0.75) 0%,rgba(0,177,234,0.75) 80%,rgba(0,118,165,0.75) 99%,rgba(0,118,165,0.75) 100% );
  .date {
    font-size: 0.7em;
    padding: 0.75em 0.75em 0 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  h2,
  p {
    color: white;
  }
  h2 {
    font-size: 2em;
    font-weight: normal;
    padding: 0.5rem 0 1rem 1.5rem;
    line-height: 1.15em;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-weight: lighter;
    padding-left: 1.5rem;
    line-height: 1em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
    font-family: $fontfamily;
  }
  a {
    color: white;
    font-weight: lighter;
    outline: none;
    // &:hover {
    //   text-decoration: underline;
    // }
  }
}
.category-p {
  padding-left: 1.5rem;
  a {
    font-size: 0.9em;
    font-weight: 600;
font-family: $fontfamily;
  }
}
