.category-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;

}
.sidebar-item{
  padding-left: 0;
  margin: 4em 0 -20px;
  a{
    font-weight: 300
  }
}

.page-titles {
  padding-left: 0;
  height: 75px;
}

.category-sidebar {
  display: none;
  @include tablet {
    height: 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2em 4em;
  }
}

.category-banner-inner{
  width: 100%;
}

.blog-item {
  margin: 2em;
}
.category-post-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  flex-wrap: wrap;
  margin: 4em 0;
  left: 20em;
  position: relative;
  h2,
  a,
  p,
  small {
    color: white;
    font-family: $fontfamily;
  }
  h2 {
    &:hover {
      text-decoration: underline;
    }
}
  p {
    margin: 0.5em 0 0 0;
    line-height: 1.25em;
  }
.content-contain {
  padding: 1em;
  }
}

.blue-overlay-4 {
background: linear-gradient(to right, rgba(0,118,165,0.75) 0%,rgba(0,177,234,0.75) 80%,rgba(0,118,165,0.75) 99%,rgba(0,118,165,0.75) 100% );
height: 100%;
}
