/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.full-width {
  max-width: 2525px;
  margin: 0 auto;
  @include xx-large {
  	max-width: 2525px;
  }
}

/* Global Inner Wrapper Class */

.inner-column {
  width: 90%;
  margin: 2em auto;

  @include tablet {
    width: 780px;
  }

  @include desktop {

  }
}

.inner-column-wide {
  width: 90%;
  margin: 0 auto;

  @include tablet {
    width: 920px;
  }

  @include desktop {

  }
}



/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.container{
  align-items: center;
}

.site-footer{
  width: 100vw;
  background-color: $dark-blue;
}

.social-icons ul{
	list-style: none;
}

.citystudio-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include blue-to-blue;
  margin-bottom: 0;
  opacity: 0.9;
  width: 100%;
  min-height: 2em;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
  font-weight: 700;
  color: white;
  @include tablet {
    min-height: 5em;
  }
  @include desktop {
    background-size: cover;
    background-position: center center;
    min-height: 6em;
    height: 100%;
  }
}

.citystudio-banner-short {
  @include blue-to-blue;
  width: 100%;
  height: 4em;
  overflow: hidden;
  margin-bottom: 4em;
  @include desktop {
    background: url("../../images/citystudio-logo-lighter.png"), $medium-blue;
    background-size: cover;
    background-position: center center;
    height: 150px;
    opacity: 0.9;
  }
}

.banner-inner{
  margin-top: 5em;
  @include tablet{
    margin: 0;
  }
}
