
iframe {
  width: 100vw;
  height: 40vh;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
}
.contact-page-container {
  background-color: #1b85b1;
  padding-top: 2rem;
  width: 100%;
}
.getintouch-container {
  display: flex;
  justify-content: center;
  width: 100%;
  @include desktop {
    width: 100%;
  }
}
.getintouch-block {
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.25rem;
  width: 90%;
  padding: 0.2em 0.75em;
  height: 2.5rem;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
  @include tablet {
    height: 3rem;
    margin-bottom: 1rem;
    padding: 0.35em 0.75em;
  }
  @include desktop {
    height: 4rem;
    padding: 0.1em 0.75em;
  font-size: 2em;
  }
  h2 {
    font-family: 'open_sans', bold;
    font-size: 1.1em;
    color: $light-blue;
    font-weight: 900;
    @include desktop {
      margin-top: 0.2rem;
    }
  }
}
.contact-content {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    margin-left: 2em;
  }
  @include desktop {
    flex-direction: row;
    margin-left: 2em;
  }
}
.contact-info-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto 2.5em;
  @include tablet {
    width: 40%;
    margin: 2em auto;
  }
  h3,
  p {
    color: #ffffff;
    font-family: $fontfamily;
    font-size: 1em;
    @include desktop {
      font-size: 1.25em;
    }
  }
  p {
    font-weight: lighter;
  }
}
.contact-form-container {
  width: 80%;
  margin: 2em auto;
   ::-webkit-input-placeholder {
    color: $city-blue;
    font-weight: bold;
  }
   :-moz-placeholder {
    color: $city-blue;
    opacity: 1;
    font-weight: bold;
  }
   ::-moz-placeholder {
    color: $city-blue;
    opacity: 1;
    font-weight: bold;
  }
   :-ms-input-placeholder {
    font-weight: bold;
    color: $city-blue;
  }
  @include tablet {
    width: 50%;
    min-width: 40%;
    margin: 2em 0 0 1em;
  }
  @include desktop {
    width: 40%;
    margin: 2em 0 0 2em;
  }
}
.frm_primary_label {
  padding: 0 0 25px 2px !important;
  margin-bottom: 5px !important;
}
.frm_form_field {
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
  @include tablet {
    width: 100%;
  }
  @include desktop {
    width: 100%;
  }
  label {
    color: #ffffff !important;
    font-size: 1em;
    width: 80%;
    font-family: $fontfamily;
    font-weight: lighter;
  }
}
#frm_field_64_container,
#frm_field_65_container,
#frm_field_66_container,
#frm_field_67_container {
  box-shadow: none !important;
  margin: 1em 0;
  label {
    display: none;
  }
  input,
  textarea {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 2%;
  }
}
,
#frm_field_68_container {
  box-shadow: none !important;
}
#field_nmmsb-otext {
  display: none;
}
#field_g5aab {
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
}
.frm_other_input,
#field_nmmsb {
  width: 100%!important;
  background-color: #ffffff;
  padding: 3% !important;
  border: #ffffff !important;
  @include desktop {
    width: 53%!important;
  }
  input{
  color: $city-blue !important;
}
}
input[type='email']:focus {
  font-weight: bold;
}
.frm_style_formidable-style.with_frm_style select {
  color: $city-blue;
}
.frm_submit {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  @include desktop {
    margin-bottom: 1em;
    justify-content: flex-start;
    }
  input[type=submit] {
    background-color: transparent !important;
    border-radius: 5px;
    padding: 2%;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
    width: 150px !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.2) !important;
    transition: background-color 0.5s ease;
    font-weight: lighter;
    margin: 1em 0;
      &:hover {
        background-color: #ffffff !important;
        border: 1px solid $dark-blue !important;
        color: $dark-blue !important;
        font-weight:normal;
      }
    }
    img {
      display: none;
    }
}

.frm_form_fields fieldset {
  border: none !important;
  padding: 0 !important;
}

.frm_hidden {
display: none;
}
.frm_form_fields fieldset {
  border: none !important;
}

.frm_hidden {
display: none;
}
