
.site-footer{
   /*position: absolute;*/
  @include desktop {


    /*flex-direction: row;*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+46 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 15%, rgba(0, 100, 150, 1) 50%, rgba(0, 100, 150, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 15%,rgba(0, 100, 150, 1) 50%,rgba(0, 100, 150, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 15%,rgba(0, 100, 150, .7) 50%,rgba(0, 100, 150, .8 ) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006496', endColorstr='#006496',GradientType=0 ); /* IE6-9 */
  }
}
.social-icons-div {
  display: flex;
  justify-content: flex-end;
  a{
    border: none;
  }
  padding: 4% 2% 0;
  right: 12px;
}
.social-icons {
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem;
  &:hover {
    cursor: pointer;
  }
  @include desktop {
    z-index: 1;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    }
  }

.twitter {
  height: 2rem;
  width: 2rem;
  margin-top: 0.5rem;
  @include desktop {
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .8rem;
  }
}
/* Footer Navigation */
.nav {
  width: 95vw;
  margin: 0 auto;
  @include desktop {
    width: 50vw;
    margin: 0;
  }
}

