//-----------------------------------------
// LANDING PAGE STYLES  -----------------------
.container {
  display: block;
  .bx-viewport {
    margin-top: 0;
    margin-bottom: 5px;
  }
}
.landing-gallery {
  display: none;
  @include desktop {
    display: block;
    height: 50px;
    width: 50px;
    margin-bottom: 0.3rem;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 3rem;
    float: right;
  }
}
.hero {
  width: 100vw;
  height: 65vh;
  background: -webkit-linear-gradient(left, rgba(73,155,234,0.80) 0%, rgba(2,152,213,0.80) 0%, rgba(1,152,213,0.80) 99%, rgba(1,152,213,0.80) 100%), url("../../images/CityStudio-LandingPage-bg.jpg") no-repeat bottom center;
  background: -o-linear-gradient(left, rgba(73,155,234,0.80) 0%, rgba(2,152,213,0.80) 0%, rgba(1,152,213,0.80) 99%, rgba(1,152,213,0.80) 100%), url("../../images/CityStudio-LandingPage-bg.jpg") no-repeat bottom center;
  background: linear-gradient(to right, rgba(73,155,234,0.80) 0%, rgba(2,152,213,0.80) 0%, rgba(1,152,213,0.80) 99%, rgba(1,152,213,0.80) 100%), url("../../images/CityStudio-LandingPage-bg.jpg") no-repeat bottom center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hero-logo {
  background: url("../../images/citystudio-logo-trans.png") no-repeat center;
  background-size: 80vw;
  height: 15vh;
  margin: 4rem 2rem 1rem;
  @include desktop {
    background-size: 60vw;
    height: 30vh;
    margin: 0 2rem 1rem;
  }
}
.homepage-partners {
  width: 100vw;
  height: 35vh;

  .partners-title{
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: -1.6rem;
    text-transform: uppercase;
  }
  .partner-buttons {
    text-align: center;
  }
  button {
    background-color: rgba(1,152,213,.8);
    color: white;
    padding: .5% 2%;
    margin: .3rem;
  }
 
}
 .homepage-description{
    text-align: center;  
    h3{
      font-size: 1.7rem;
      font-weight:100;
    }
    padding: 0.5% 2%;
  }
.site-description {
  margin: 0 auto 1rem;
  width: 70vw;
  display: flex;
    @include desktop {
      margin: 0 auto;
      width: 48vw;
    }
    p {
      @include desktop {
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding-top: 7rem;
      max-width: 80%;
      font-size: 2rem;
      color: white;
      opacity: .8;
      text-align: center;
      font-family: $fontfamily;
        font-size: 2.1rem;
      }
    }
  width: 80vw;
  @include desktop {
    margin: 0 auto;
    width: 48vw;
  }
  p {
    font-size: 1.1rem;
    color: white;
    text-align: center;
    font-family: $fontfamily;
    @include desktop {
      font-size: 1.7rem;
    }
  }
}
.loader {
  opacity: 0.1;
  border: none;
  float: center;
  margin-left: 900px;
  padding: 2rem;
}

.nav-div {
  /*background-color: #76d6ff;*/
  max-height: 100%;
  width: 50px;
  margin-left: 6%;
  margin-top: 4%;
  border-radius: 70px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  transition: width 0.5s ease-in;
    @include desktop {
      height: 100%;
      /*background-color: #76d6ff;*/
      max-height: 70px;
      z-index: 5 !important;
      position: relative !important;
      width: 74px;
      margin: 2%;
      border-radius: 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      transition: width .5s ease-in;
    }
}

.sort {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 0.8rem;
  border-radius: 45px;
  background-color: #0082b9;
  padding-top: 1.4em;
  padding-bottom: 0.3em;
  span{
    padding: 4%;
  }
  &:hover {
    cursor: pointer;
  }
  @include desktop {
  width: 100vw;
  margin: 0;
  max-width: 2.8rem;
  height: 2.5rem;
   }
}


.open{
  min-width: 95vw;
  width: 90%;
  margin: 1rem auto 1rem;
  @include desktop{
  position: relative !important;
  flex-basis: 40%;
  order: 1;
  width: 40vw;
  min-width: 450px;
  margin: 2%;
  }
}
.close{
  min-width: 20px;
  @include desktop {
    width: 5rem;
  }
}
.close .refresh {
  min-width: 20px;
}
.menu-item {
  opacity: 0;
}
.open .menu-item{
    opacity: 1;
    margin: 0;
}

.neighbourhood {
  background: url("../../assets/neighbourhood-icon.png") no-repeat center;
  background-size: 20px 30px;
  width: 4.3rem;
  height: 2rem;
  border-radius: 70px;
  background-color: #03648c;
  transition: all .4s ease-in;
  @include desktop {
    width: 4.35rem;
    height: 4.36rem;
    background-size: 35px 45px;
  }
}
.partners {
  background: url("../../assets/partners-icon.png") no-repeat center;
  background-size: 30px 40px;
  width: 4.3rem;
  height: 4rem;
  border-radius: 70px;
  background-color: #03648c;
  transition: all 1s ease-in;
  @include desktop {
    width: 4.35rem;
    height: 4.36rem;
  background-size: 45px 60px;
  }
}
.years {
  background: url("../../assets/in-progress-icon.png") no-repeat center;
  background-size: 25px 30px;
  width: 4.3rem;
  height: 4rem;
  border-radius: 70px;
  background-color: #03648c;
  transition: all 1.8s ease-in;
  @include desktop {
    width: 4.35rem;
    height: 4.36rem;
    background-size: 45px 45px;
  }
}
.refresh {
  background: url("../../assets/refresh.png") no-repeat center;
  background-size: 35px 35px;
  width: 4.3rem;
  height: 3.8rem;
  border-radius: 70px;
  border: 2px solid white;
  background-color: #0082b9;
  transition: all 2s ease-in;
  @include desktop {
    width: 4.35rem;
    height: 4.2rem;
    background-size: 45px 45px;
  }
}
/* Footer Navigation Menu */
.foot-sub-menu input[type=checkbox] {
    display: none;
}
.current-menu {
  display: block;
}
.foot-sub-menu {
  display: none;
  justify-content: space-between;
  background-color: #fff;
  margin-left: 1.2em; 
  margin-top: 2em; 
  margin-bottom: -0.4em; 
  padding: 0.5em;
  border-radius: 8px;
  border: 0.5px solid $dark-blue;
  &:hover {
    cursor: pointer;
  }
  .sub-menu-neigh span,
  .sub-menu-part span {
    color: $medium-blue;
  }
  .sub-menu-year span {
    color: $medium-blue;
  }
  .sub-menu-neigh span:hover,
  .sub-menu-part span:hover,
  .sub-menu-year span:hover {
    color: $light-blue;
    cursor: pointer;
  }
}
.menu-item {
  position: relative;
}
.neigh {
  position: absolute;
  bottom: 89px;
  left: -59px;
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #fff transparent transparent;
    position: absolute;
    bottom: -13px;
    left: 38%;
  }
}
.part {
  position: absolute;
  bottom: 89px;
  left: -29px;
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    color: $medium-blue;
    border-width: 20px 20px 0;
    border-color: #fff transparent transparent;
    position: absolute;
    bottom: -13px;
    left: 30%;
  }
}
.year {
  position: absolute;
  bottom: 89px;
  left: -15px;
  padding-right: 1.1em;
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #fff transparent transparent;
    position: absolute;
    bottom: -13px;
    left: 18%;
  }
}
.current-menu {
  display: block;
}
.menu-title {
  font-weight: bold;
  color: $dark-blue;
}
.show-label {
  display: block;
  color: $dark-blue;
  background: #fff;
  padding: 1em;
}
  .show-label:hover{
      transition-delay:4s;
  }
  .neigh-labels {
    min-width: 120px;
    right: 55%;
      label::after  {
        left: 36%;
      }
  }
  .part-labels {
    min-width: 80px;
    right: 27%;
      label::after  {
        left: 31%;
      }
  }
  .year-labels  {
    min-width: 80px;
    right: 27%;
      label::after  {
        left: 32%;
      }
  }
.neigh-labels,
.part-labels,
.year-labels {
  display: none;
  position: relative;
  background-color: #fff;
  padding: 0.5em 0.8em;
  border-radius: 8px;
  border: 0.5px solid $dark-blue;
  bottom: 53px;
  text-align: center;
  label {
    color: $medium-blue;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 0;
      border-color: #fff transparent transparent;
      position: absolute;
      bottom: -13px;
    }
  }
}

.sticky-navigation{
  display: inline-flex;
  float: left;
  width: 40%;
}
.title{
  padding-top: 1%;
  width: 60%;
  float: right;
  font-weight: bold;
  font-size: 13px;
}

.social-icons{
  display: inline-flex;
  justify-content: space-between;
  padding: 2%;
  p{
    padding-left: 2%;
  }
}