.tag-description// -------------- HOME PAGE STYLES  ----------------------*
.container {
  display: block;
  width: 100vw;
}
.front-page-main {
  max-width: 100vw;
  width: 100vw;
}
// -------------- HEROBANNER STYLES  ----------------------*
.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -3px 60px -4px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  @include tablet {
    height: 500px;
  }
}

.hero-blurb {
  text-align: center;
  font-size: .7rem;
  font-weight: 700;
  font-family:$fontfamily;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 2em;
  padding: 10%;

  @include tablet {
    margin: 0 auto;
  }
  h3, h3 span, h3 p span {
    font-size: 1.3em;
    font-weight: 300;
    color: #fff;

    @include tablet {
      font-size: 1.5em;
    }
  }
  p {
  margin-bottom: 0;
  }
}
.orange-font {
  color: #ee7600;
}

.homepage-titles {
  margin: 1.5em auto;
  letter-spacing: 0.1rem;
  font-family: $fontfamily;
  text-align: center;
  font-size: 1.5em;
  width: 95%;
  font-weight: 100;

  @include tablet {
    font-size: 2em;
    width: 100%;
  }

  @include desktop {
    font-weight: 100;
    margin-top: 4em;
  }

  span {
    color: $city-blue;
    font-weight: bold;
  }
}

.home-recent-news {
  display: block;

  .homepage-titles {
    font-family: $fontfamily;
    font-size: 2.2em;
    margin: .5em auto;
    letter-spacing: .1rem;
    color: #2D2D2D;
    font-weight: 700;
  }
}

.homepage-description {
  display: none;

  @include tablet {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2rem;
    font-size: 1.25em;
    font-family: $fontfamily;
    text-align: center;
    width: 75%;
    display: block;
  }

  @include desktop {
    padding-bottom: 1em;
  }
}
// -------------- RECENT POSTS SECTION STYLES  ----------------------*
.recent-posts-block {
  width: 100%;
  height: 800px;
  margin: 1em 0 0;

  @include tablet {
    height: 570px;
  }

  @include desktop {
    height: 400px;
  }

  h2 {
    color: $city-blue;
    text-align: center;
    font-size: 2em;
    padding: 0.5em 1em;
    font-weight: bold;
  }
}

.recent-posts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  @include desktop {
    align-items: center;
  }

  a {
    height: 200px;
    width: 250px;
    margin: 1em;

    @include desktop {
      height: 240px;
      width: 300px;
      margin: 0;
    }
  }

  li {
    border-radius: 10px;
    position: relative;
    height: 200px;
    width: 250px;
    box-shadow: 3px 4px 8px 0 rgba(0,0,0,.25);

    @include desktop {
      height: 240px;
      width: 300px;
    }

    &:hover {
      box-shadow: 4px 5px 20px 0 rgba(0,0,0,0.25);
      transition: all 0.25s ease;
      bottom: 2px;
    }

    img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }
}

.title-div {
  width: 80%;
  height: 43% !important;
  bottom: 12px !important;
  color: white;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(to right, rgba(0,118,165,0.75) 0%,rgba(0,177,234,0.75) 80%,rgba(0,118,165,0.75) 99%,rgba(0,118,165,0.75) 100% );

  @include tablet {
    height: 45%;
    bottom: 12px;
  }

  @include desktop {
    height: 30%;
    bottom: 25px;
  }

  p {
    color: white;
    font-family: $fontfamily;
    padding: 0.5em;
    overflow: hidden;
    font-size: 1em;

    @include tablet {
      font-size: 0.9em;
    }

    @include desktop {
      font-size: 1em;
    }
  }
}

// -------------- PARTNER SECTION STYLES  ----------------------*
.homepage-partners-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0% 2%;

  .home-partners {
    flex-basis: 100%;
    max-height: 150px;
    min-height: 80px;
    width: 90%;
    margin: 0 auto 5.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include tablet {
      flex-wrap: nowrap;
    }

    .feat-logo-link {
      display: inline-block;
      flex-basis: 35%;
      width: 35%;
      height: 90px;
      margin: 1em;

      @include tablet {
        flex-basis: 20%;
        width: 20%;
        margin: .5em;
      }

      &:hover {
        filter: opacity(0.7);
      }
    }

    .feat-logo {
      width: 100%;
      height: 100%;
      background-size: contain;
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;

      img {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
}



// -------------- EXPLORE SECTION STYLES  ----------------------*
.explore-section {
  width: 100%;
  display: block;
  margin: 5em auto;
  text-align: center;
}
