
// -------------- GALLERY NAV FUNCTION STYLES  ----------------------*
.loader {
  opacity: 0.1;
  border: none;
  float: center;
  margin-left: 900px;
  padding: 2rem;
}
.nav-div {
  width: 85px;
  height: 85px;
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: width .4s ease-in;
  margin-right: 4em;
  @include desktop {
    height: 89px;
    width: 88px;
    z-index: 2 !important;
    position: relative !important;
    border-radius: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: width .8s ease-in;
    margin: 17px 10px;
  }
  @include iphone6-horizontal {
    display: none;
  }
}
.sort {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid white;
  padding: 21px 18px;
  right: 2px;
  border-radius: 45px;
  margin-top: 0 auto;
  z-index: 2;
  transition: all 1s ease-in;
  background-color: #0082b9;
  &:hover {
    cursor: pointer;
  }
  @include desktop {
    width: 480px;
    margin: 0;
    max-width: 3rem;
    height: 2.6rem;
    transition: all 1s ease-in;
  }
  label{
    font-size: 21px;
    margin: 0 -6px;
  }
}
.open {
  transition: all 2s ease-in;
  width: 100%;
  flex-basis: 25%;
  order: 1;
  transition: all .3s ease-in;
}
.themes,
.partners,
.years,
.refresh {
  top: 25%;
  width: 250px;
  height: 40px;
  margin-right: 1em !important;
  border-radius: 5px;
    p{
      display: flex;
      justify-content: center;
      color: white;
      padding: .2em;
    }
  }
.themes {
  background: url(../../assets/neighbourhood-icon.png) 10px 6px no-repeat #03648c;
  background-size: 15px 20px;
}
.partners {
  background: url("../../assets/partners-icon.png") 7px 6px  no-repeat #03648c;
  background-size: 20px 27px;
}
.years {
  background: url(../../assets/in-progress-icon.png) 7px 6px no-repeat #03648c;
  background-size: 21px 20px;
}
.refresh {
  background: url("../../assets/refresh.png") no-repeat center;
  background-size: 35px 35px;
  border: 3px solid white;
  background-color: #0082b9;
  border-radius: 45px;
  width: 90px;
  background-size: 45px 45px;
}
#refresh.refresh.menu-item{
  width: 5em;
  height: 5em;
  opacity: .9;
  transition: all 1s ease-in;
}
.nav-sub-menu input[type=checkbox] {
  display: none;
}

.nav-sub-menu {
    position: absolute;
    padding: .5em;
    opacity: 0;
    font-size: 15px;
    border-radius: 4px;
    top: 25px;
    right: -2px;
    width: 94%;
    border-radius-left: 0;
    border-radius-right: 1px;
    &:hover {
      cursor: pointer;
  }

  .sub-menu-theme span,
  .sub-menu-part span,
  .sub-menu-year span {
    color: $city-blue;
    font-size: 11px;
    padding-left: 3em;
  }
  .sub-menu-theme span:hover,
  .sub-menu-part span:hover,
  .sub-menu-year span:hover {
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
  }
}
.sort-menu-item {
  position: relative;
  opacity: 0;
  height: 30px;
}

.themes.sort-menu-item {
  height: 30px
}

.toggle-menu-item{
  display: block;
  opacity: 1;
  height: 160px;
  background-color: white;
  text-transform: none;
  border: 2px solid $city-blue;
  border-top-color: white;
  border-top-right-sum: 0;
  border-top-left-radius: 0;

  p{
    color: $city-blue;
    text-transform: uppercase;
    border-right-color: #fff;
    border-left-color: #fff;
    height: 30px;
    border-bottom-color: white;
    }
}

sort-menu-item toggle-menu-item{
  border-top: 1.7px solid white;
}
.open .sort-menu-item {
    opacity: .9;
    margin: 0;
    text-transform: uppercase;
    color: #006493;
    border-top-color: #0198d5;
    border-radius: 2px;
    border-bottom-color: white;
}

.open {
  .theme,
  .part,
  .year{
    bottom: 71px;
    left: 0px;
    width: 123px;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #fff transparent transparent;
      position: absolute;
    }
  }
}
.current-menu {
  display: block;
}
.menu-title {
  font-weight: bold;
  color: $dark-blue;
}
.show-label {
  display: block;
  color: $city-blue;
  background: white;
}
.show-label:hover {
  transition-delay: 4s;
}
.theme-labels {
  label::after {
    left: 36%;
    opacity: 0;
  }
}
.part-labels {
  label::after {
    left: 31%;
  }
}
.year-labels {
  label::after {
    left: 32%;
  }
}

.theme-labels,
.part-labels,
.year-labels {
    display: none;
    position: relative;
    background-color: #fff;
    width: 88px;
    height: 88px;
    border-radius: 45px;
    border: 1.5px solid #006496;
    text-align: center;
    color: #00A0DC;
    font-weight: 700;
    word-break: break-word;
    line-height: 1.2em;
    label {
      font-size: .8rem; 
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid; -ms-word-break: break-all;
      border-color: #fff transparent transparent;
      position: absolute;
    }
  }
  .show-labels{
    display: block;
  }
}
.sticky-navigation {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.nav-description {
  padding: 0;
  @include desktop {
  transition: padding-right 1s ease;
  height: 80px;
  padding-top: 6px;
  margin-left: 50%;
  text-align: left;
  font-size: 1.2rem;
  font-family: $fontfamily;
  z-index: 1;
    p {
      padding: 5px;
      width: 27em;
      margin-right: 20px;

    }
    img {
      height: 60px;
      width: 60px;
      margin-bottom: -20px;
    }
  }
  @include tablet {
    display: none;
  }
  @include iphone6 {
    display: none;
  }
}
.fixed {
  position: fixed;
  top: 0;
  padding-top: 20px;
  height: 120px;
  width: 100vw;
  z-index: 2;
  padding: 0;
  p {
    margin-right: 120px;
    margin-bottom: 0;
  }
  background-color: rgba(255,255,255, 1);
}
.sticky-navigation.fixed{
    display: flex;
    justify-content: center;
  @include tablet{
    transition: none;
  }
  @include iphone6-horizontal{
    display: none;  
  }
 }
.nav-description.fixed{
  /*transition: all .8s ease;*/
  height: 80px;
  padding-top: 6px;
  margin-left: 60%;
  text-align: left;
  font-size: 1.2rem;
  font-family: $fontfamily;
    @include tablet{
      transition: none;
    }
  p {
    padding: 6px;
    width: 480px; 
    margin-right: 80px;  
  }
}
.nav-div.fixed{
  margin: 23px 0px;
}
.explore {
  padding: 0.4% 5% 0 0;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.5rem;
  display: flex;
  text-align: center;
  justify-content: flex-end;
}
.title {
  padding-left: 12%;
  padding-top: 1%;
  width: 98%;
  font-weight: bold;
  font-size: 26px;
}

.gallery-description-container{
    display: flex;
    justify-content: center;
  @include iphone6{
    display: none;
  }
  @include iphone6-horizontal{
    display: none;
  }
}
.fa-star{
  margin-top: .6em;
}

.no-projects{
  background-color: $dark-blue;
  text-align: center;
  width: 100%;
  padding-top: 5em;
  height: 30vh;
  transition: all 2s ease-in;
  h1, h2 {
     color: white
  }

  h2{
    font-size: 24px;
  }

}
