
.single {
  .recent-news-block h2 {
    color: $city-blue;
    font-weight: 700;
    font-size: 2em;
  }
}

.recent-news-block {
  background-color: $color__background-offwhite;
  padding: 2% 0 6%;

  h2 {
    text-align: center;
    line-height: 1.2em;
    font-size: 1.5em;
    font-weight: normal;
    font-family: $fontfamily;
    padding: 1em 0
  }
}

.recent-post-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  img {
    height: 100%;
    width: 100%;
    border-radius: 5px
  }
}

.recent-news-list {
display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 10%;

  @include tablet {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2% 0;
  }

  a {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0.5em 0;

    @include tablet {
      flex-basis: 30%;
      max-width: 30%;
      width: 33%;
      margin: 0;
    }
  }

  li {
    border-radius: 5px;
    box-shadow: 3px 4px 8px 0 rgba(0,0,0,.25);
    display: block;
    min-height: 230px;
    position: relative;
    margin-bottom: 2em;
    @include tablet {
    margin-bottom: 0em;
}
    &:hover {
      box-shadow: 4px 5px 20px 0 rgba(0,0,0,0.35);
      transition: all 0.25s ease;
      bottom: 2px;
    }
  }
}

// Recent Posts Title

.title-div {
  width: 80%;
  height: 43% !important;
  bottom: 12px !important;
  color: white;
  // position: absolute;
  background: linear-gradient(to right, rgba(0,118,165,0.75) 0%,rgba(0,177,234,0.75) 80%,rgba(0,118,165,0.75) 99%,rgba(0,118,165,0.75) 100% );

  @include tablet {
    height: 45%;
    bottom: 22px;
  }

  @include desktop {
    height: 30%;
    bottom: 25px;
  }

  p {
    color: white;
    font-family: $fontfamily;
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.5px;

    @include tablet {
      font-size: 0.9em;
    }

    @include desktop {
      font-size: 1em;
    }
  }
}

// Return Links

.return-wrapper {
  margin: 4em 0 2em;
  text-align: right;
  padding-bottom: 2rem;
  font-weight: 100;
  font-size: .7rem;
}

.static-return-button {
  font-size: 1.1em;
  letter-spacing: .2rem;
  font-family: $fontfamily;
  color: #000;
  text-decoration: none !important;
  border: none;
  outline: none;

  &:visited, &:focus, &:active {
    color: #000;
    text-decoration: none !important;
  }

  @include tablet {
    font-size: 1.2em;
  }

  @include desktop {
    font-size: 1.3em;
  }

  &:hover {
    color: $light-blue;
    cursor: pointer;
    text-decoration: underline !important;
  }
}
