.header-container {
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  @include iphone6{
    position: fixed;
    background-color: white;
    z-index: 3;
  }
}
.site-branding img {
  padding: 1rem 0 0.5rem .5rem;
  width: 12rem;
  @include desktop {
    width: 26rem;
    padding: 1.5rem 0 0.5rem 1rem;
    padding-top: 1.5rem;
  }
}
.search-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 0.5rem;

  @include desktop {
    margin-right: 2rem;
  }
}
.icon-search {
  display: none;
  @include desktop {
    display: block;
    font-size: 2rem;
  }
  @include tablet {
    font-size: 1.75rem;
  }
  .fa {
    color: $light-blue;
    &:hover{
    color: $medium-blue;
    }
  }
  a {
    color: #03648c;
  }
}
.icon-menu {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  @include desktop {
    font-size: 2.5em;
    margin-left: 3rem;
    margin-top: 0.15rem;
    margin-right: 0rem;
  }
  .fa {
    color: $light-blue;
    font-size: 2.3rem;
    &:hover{
    color: $medium-blue;
   }
  }
}
.menu-item {
  background-color: #f9f9f9;
  font-weight: 500;
  @include iphone6{
    height: 3.5em;
    z-index: 2;
  }
}
.hamburger-menu{
  width: 50px;
  height: 50px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f7f9f9;
  width: 255px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
  margin-left: -217px;
  top: 98px;
  z-index: 3;
  @include iphone6{
    width: 27%;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -126px;
    top: 70px;
    z-index: 100;
  }
}
.dropdown-content a{
  transition: height .3s ease-in;
  color: black;
  text-decoration: none;
  display: block;
  @include iphone6{
    border: none !important;
  }
  font-size: 22px;
    ul li{
      border-left: 2px solid grey !important;
      @include iphone6{
       border: none;
      }
    }
}
.hamburger{
  background-color: white;
  border: none;
  font-size: 32px;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.show {
  display:block;
}
.header-nav{
  border-top: 4px solid $light-blue;
  border-bottom: 4px solid $light-blue;
  background-color: #f7f9f9;
  @include iphone6{
    margin-left: -189px;
  }
}

#primary-menu {
  z-index: 3;
  padding: .7em 0.7em;
    @include iphone6{
    padding: 3em 8em .5em;
    height: 544px;
    font-size: .8em;
    }
  }

.header-nav ul {
  *zoom:1;
  list-style:none;
  margin:0;
  padding: 0em .2em 0 .3em;
  background: #f9f9f9;
  @include iphone6{
    padding: 0;
  }
}
.header-nav ul:before,.header-nav ul:after {
  content:"";
  display:table;
}
.header-nav ul:after {
  clear:both;
}
.header-nav ul > li {
  a{
    img{
      width: 30px;
      height: 30px;
      float: left;
      margin-left: -9px;
    }
  }
}
.header-nav a {
  display:block;
  padding: 0 0 .6em 0em;
  color: #2cb5e8 !important;
  background-color: #f9f9f9;
   -webkit-transition:none;
  -moz-transition:height 300ms ease-in;
  -o-transition:height 300ms ease-in;
  transition:height 300ms ease-in;
    @include iphone6{
      padding: 0px 2em 1em;
      font-size: 1.6em;
      font-weight: 500;
      z-index: 8;
    }
}
.header-nav a:hover {
  font-weight: 700;
  background:#f7f9f9;
  color: $medium_blue !important;
  text-decoration: underline;
}
.header-nav a:active{
  text-decoration: underline;
}
.header-nav li ul {
  background-color: #f9f9f9;
    @include iphone6{
      display: none;
      top: -6.4em;
      position: relative;
      font-size: 10px;
      left: 2em;
    }
  }
.header-nav li ul:nth-child(1) {
  left: 80px;
}
/*//sub menu css*/
.header-nav li ul li {
  overflow: hidden;
  height:0;
  width: 100%;
  -webkit-transition:height 300ms ease-in;
  -moz-transition:height 300ms ease-in;
  -o-transition:height 300ms ease-in;
  transition:height 300ms ease-in;
  border: none;
  @include iphone6{
    height: 3em;
  }
}
.header-nav ul > li:hover ul li {
  height: .95em;
  @include iphone6{
    height: 2.5em;
  }
}
.header-nav ul > li:hover ul li:last-child {
}
.menu-menu-container{
  
  @include iphone6{
    width: 100%;
    position: fixed;
    z-index: 3;
  }
}

.sub-menu{
  li a{
      font-size: 16px;
  }
  @include iphone6{
    margin: 1em;

    li a{
        margin: .4em 0;
        font-size: 2em;
    }
  }
}

.sub-menu.show-menu{
  @include iphone6{
    transition: all .5s ease-in;
    margin: 1em;
    display: block;
    top: -3em;
    li a{
        font-size: 1.5em;
    }
  }
}
