.site-header{
  display: block;
}

.header-container {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  vertical-align: center;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 3;

  @include iphone5{
    position: fixed;
  }

}
.site-branding {
  margin-right: 5em;
  @include desktop {
    margin-right: 0;
  }
}
.site-branding img {
  padding: 1rem 0 0.5rem .5rem;
  width: 12em;
  @include iphone6-horizontal{
    width: 18rem !important;
  }
  @include desktop {
    width: 26rem;
    padding: 1.5rem 0 0.5rem 1rem;
    padding-top: 1.5rem;
  }
}
.search-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 0.5rem;

  @include desktop {
    margin-right: 2rem;
  }
}
.icon-search {
  display: none;
  margin-right: 5em;

  @include desktop {
    display: block;
    font-size: 2rem;
  }
  @include tablet {
    font-size: 1.6rem;
  }

  @include iphone6-horizontal{
    display: none;
  }
  .fa {
    color: $light-blue;
    &:hover{
    color: $medium-blue;
    }
  }
  a {
    color: #03648c;
  }
}
.icon-menu {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 3rem;
  margin-right: 5em;
  &:hover{
      color: $medium-blue;
     }
  .fa {
    color: $light-blue;
    font-size: 1.6rem;
    &:hover{
      color: $medium-blue;
     }
  }

}
.menu-item {
  font-weight: 500;
  @include iphone6{
    height: 4em;
    z-index: 2;
    width: 20%;
  }
}
.hamburger-menu{
  width: 60px;
  height: 60px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f7f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
  top: 6em;
  width: 25vw;
  margin: 1em 0em;
  @include tablet{
    width: 350px;
  }

  @include iphone6{
    width: 100vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    margin-left: -11.2em;
    top: 70px;
    z-index: 3;
    position: fixed;
  }
  @include iphone5{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    margin-left: -10em;
    top: 60px;
    z-index: 3;
    position: fixed;
  }

}
.dropdown-content a{
  transition: height .3s ease-in;
  text-decoration: none;
  display: block;
  font-size: 22px;
    ul li{
      border-left: 2px solid grey !important;
    }
}

.header-menu-title{
    margin: -7px;
    padding: 0 .4em;
    @include iphone6-horizontal{
     display: none;
  }
  @include iphone6{
     display: none;
  }
}

button.hamburger{
  color: #2cb5e8;
  font-weight: 400;
  font-size: 1.6em;
  position: absolute;
  top: 2em;
  right: 1em;
  background: 0 0;
  border: none;
  text-align: left;
  display: flex;
  &:hover{
  color: $medium-blue;
 }
 @include iphone6{
   top: 1.3em;  
 }
}
.dropdown-content a:hover {background-color: #f1f1f1}
.show {
  display:block;
  z-index: 3;
}
#primary-menu {
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include iphone6{
    height: 86vh;
    font-size: .8em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include iphone5{
    height: 85vh
  }
}

.header-nav{
  border-top: 4px solid $light-blue;
  border-bottom: 4px solid $light-blue;
  background-color: #f7f9f9;
  padding: 2em 0;
  @include iphone6{
    width: 100vw;
    padding: 0;
  }
  @include iphone5{
    width: 103vw;
    height: 85.6vh;
    }
  
}

.header-nav li a{
    display: flex;
    width: 50%;
    padding-left: 2em;
    height: 2em;
  @include iphone6{
    display: flex;
    width: 33vw;
    padding-left: 4em;
    height: 1.5em;
  }
}

.header-nav a {
  display: block;
  color: #2cb5e8 !important;
  background-color: #f9f9f9;
   -webkit-transition:none;
  -moz-transition:height 300ms ease-in;
  -o-transition:height 300ms ease-in;
  transition:height 300ms ease-in;
    @include iphone6{
      font-size: 1.6em;
      font-weight: 500;
    }
}
.header-nav ul li.menu-item-has-children a {
    background: url(../../images/arrow_down.png) 12px 13px no-repeat;
    background-size: 13px 8px;
    @include iphone6{
      background: url(../../images/arrow_right.png) 30px no-repeat;
      background-size: 10px 15px; 
   }
}
.header-nav ul li.menu-item-has-children ul li a {
  background: none;  
  @include iphone6{
    line-height: 25px;
    z-index: 5;
  }
}
.header-nav a:hover {
  font-weight: 700;
  background:#f7f9f9;
  color: $medium_blue !important;
  text-decoration: underline;
}
.header-nav a:active{
  text-decoration: underline;
    ul li a{
      display: block;
   }
}
.header-nav ul {
  *zoom:1;
  list-style:none;
  margin:0;
  padding: 0em 0em 0 .9em;
  background: #f9f9f9;
  @include iphone6{
    padding: 0;
  }
}
.header-nav ul:before,.header-nav ul:after {
  content:"";
  display:table;
}
.header-nav ul:after {
  clear:both;
}
.header-nav ul > li {
  a{
    img{
      width: 30px;
      height: 30px;
      float: left;
      margin-left: -9px;
    }
  }
}
.header-nav li ul {
  background-color: #f9f9f9;
    @include iphone6{
      top: 19.4em;
      position: absolute;
      left: 12em;
      z-index: -1;
    }
    @include iphone5{
      top: 16.5em;
      position: absolute;
      left: 10em;
      z-index: -1;
      font-size: 12px;
    }
  }
/*//sub menu css*/
.header-nav li ul li {
  overflow: hidden;
  height:0;
  width: 100%;
  -webkit-transition:height 300ms ease-in;
  -moz-transition:height 300ms ease-in;
  -o-transition:height 300ms ease-in;
  transition:height 300ms ease-in;
  border: none;
  @include iphone6{

  }
}
/* sub menu list item css*/
.header-nav ul > li:hover ul li {
  height: 1.6em;
  padding: .4em;
  @include iphone6{
    height: 2.5em;
  }
}
.menu-menu-container{ 
  @include iphone6{
    width: 100%;
    position: fixed;
    z-index: 3;
  }
}

.sub-menu{
  padding: 0;
  li a{
      font-size: 16px;
      padding-bottom: 1em;
  }
  @include iphone6{
    margin: 0em 2em;
    z-index: 3;
  }
}

.toggle-menu {

        padding:20px;
        float:left;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
      }

.header-nav ul.active {
    display:none;
}