.header-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.site-branding img {
  height: 40%;
  width: 50%;
  padding-top: 0.5rem 0 0 0.5rem;
}
.search-gallery {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-search {
  color: #03648c;
  font-size: 2rem;
  font-weight: 100;
  padding-right: 2rem;
  margin: auto 0;
  .fa {
    padding-bottom: 1rem;
  }
}

.icon-gallery{
   height: 33px;
  width: 33px;
  background: url('../../images/gallery-blue.png') no-repeat center;
  background-size: contain;
  margin-bottom: 0.3rem;

}
