.js-page-numbers {
  width: 100%;
  padding: 6%;
  display: block;
  height: auto;
  text-align: center;
  .page-numbers {
    display: none;
  }
}
a.js-load-more {
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  width: 55%;
  letter-spacing: 2px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: transparent;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 2.2% 0;
  transition: background-color 0.5s ease;
  width: 200px;
  font-size: 1em;
  font-weight: lighter;
  &:active,
  &:visited,
  &:focus {
    color: #ffffff !important;
    outline: none;
  }
  &:hover {
    background-color: #ffffff;
    border: 1px solid $dark-blue;
    color: $dark-blue;
  }
  @include tablet{
    width: 30%;
  }
  @include desktop{
    font-size: 1.1em;
    padding: 1.5% 3%;
    width: 25%;
    outline: none;
  }
}
