// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin xx-large{
	@media screen and (min-width: 1900px){
	@content;
	}
}

@mixin mid-break{
	@media screen and (min-width: 1396px){
	@content;
	}
}
@mixin sort-hover{
	@media screen and (min-width: 1196px){
	@content;
	}
}

@mixin desktop{
	@media screen and (min-width: 1024px){
	@content;
	}
}

@mixin tablet{
	@media screen and (min-width: 750px){
	@content;
	}
}

@mixin footer {
	@media screen and (min-width: 550px){
	@content;
	}
}

@mixin footer-1-col {
	@media screen and (max-width: 650px){
	@content;
	}
}

@mixin footer-2-col{
	@media screen and (max-width: 845px){
	@content;
	}
}


@mixin iphone6{
	@media screen and (min-width: 375px){
	@content;
	}
}

@mixin iphone6-horizontal{
	@media screen and (min-width: 667px){
	@content;
	}
}
//
// @mixin 2-col-grid {
// 	@media screen and (min-width: 450px){
// 	@content;
// 	}
// }


@mixin threecol {
	@media screen and (min-width: 1000px) {
	@content;
	}
}



// Gradient mixins

@mixin blue-to-blue {
	background: linear-gradient(to right,#0277a7 0,#0188bb 24%,rgba(0,165,220,.9) 63%,rgba(0,177,234,.9) 80%);
}

@mixin blue-to-blue-light {
	background: linear-gradient(to right, rgba(0,118,165,0.75) 0%,rgba(0,177,234,0.75) 80%,rgba(0,118,165,0.75) 99%,rgba(0,118,165,0.75) 100%
	);
}
