/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Tag Archive Page */
.tag-archives {
  background-color: $medium-blue;
  padding-top: 2em;
  li {
    min-width: 360px;
    min-height: 280px;
    margin-bottom: 1rem;
  }
  main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  h1 {
    margin: 0;
  }
  h2 {
    font-size: 1.5rem;
    color: $light-blue;
    font-weight: 900;
    span {
      color: $dark-blue;
    }
  }
  @include desktop {
    .tag-archives {
    }
    h2 {
      font-family: 'open_sans', bold;
      font-size: 4rem;
      color: $light-blue;
      font-weight: 900;
      margin-top: 0.2rem;
      span {
        color: $dark-blue;
      }
    }
  }
  .section-archive {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 4em;
    margin: 1.5rem 1.5em 0 1.5rem;
    box-sizing: border-box;
    padding: none;
    width: 90vw;
    li {
      background-position: center center !important;
      background-size: cover !important;
      width: 360px;
      height: 280px;
      @include desktop {
        margin: 0 auto 2rem;
        width: 360px;
        height: 280px;
        font-size: 3rem;
      }
    }
    a:hover {
      -webkit-filter: brightness();
      filter:brightness();
    }
  }
}
.tag-archives {
  background-color: $medium-blue;
  padding-top: 2em;
  padding-bottom: 4em;
  li {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    width: 300px;
    height: 250px;
  }
}
.archive-header {
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.5rem;
  width: 90vw;
  padding: 0 .5em;
  height: 2.5rem;
@include desktop {
  height: 6.5rem;
  margin-bottom: 1.5rem;
  }
}
.tag-url {
  text-decoration: none;
  color: black;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
