//TOP PORTION STYLES
.title-banner {
  background: url("../../images/CityStudio-LandingPage-bg.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2.5rem;
    font-family: $fontfamily;
    color: white;
    font-weight: normal;
    text-align: center;
    padding: 3.5rem 0;
    width: 65%;
    margin: 0 auto;
    span {
      font-weight: bold;
    }
  }
}
.blue-overlay {
  background-color: rgba(1, 152, 213, 0.7);
  width: 100%;
  height:14rem;
  z-index: 2;
}
.info-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 50px 2rem;
}
.school-mission-container {
  margin: 3.5rem 0 0 5rem;
  font-family: $fontfamily;
  width: 40%;
  h3 {
    font-size: 1.5rem;
    padding-bottom: 0.25rem;
  }
  .school-mission {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
.campus-course-container {
  margin: 2rem 0 1rem 9rem;
  .campus-courses {
    font-family: $fontfamily;
    font-size: 1rem;
  }
  h3 {
    margin-bottom: 0.25rem;
  }
  li {
    font-size: 0.85rem;
    // font-weight: bold;
    line-height: 1.5rem;
    &:hover {
      text-decoration: underline;
      color: #ee7600;
    }
  }
  li p {
    margin-bottom: 0;
  }
}
//PROJECT DISPLAY STYLES
.projects-container {
  background-color: $medium-blue;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.title-block-container {
  display: flex;
  justify-content: center;
}
.title-block {
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.25rem;
  width: 90%;
  padding: 0 0.5em;
  height: 2rem;
  @include desktop {
    height: 5rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-family: 'open_sans', bold;
    font-size: 3rem;
    color: $dark-blue;
    font-weight: 900;
    margin-top: 0.2rem;
    text-transform: uppercase;
    span {
      color: $light-blue;
    }
  }
}
.section-archive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 4rem 0;
}
//MEDIA LINKS STYLES
.media-links-title {
  font-size: 1rem;
  font-family: $fontfamily;
  font-weight: bold;
  color: white;
  margin: 0.5rem 0 0.75rem 4rem;
}
.media-links-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90vw;
  margin-left: 4rem;
  margin-right: 4rem;
}
.media-link {
  width: 25%;
  p {
    color: white;
    font-size: 0.9rem;
    font-family: $fontfamily;
    font-weight: 550;
    &:hover {
      text-decoration: underline;
    }
  }
}
