//TOP PORTION STYLES
.content-area {
  width: 100vw;
  max-width: 100%;
}
.partners-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    height: 15em;
    margin: 0;
  }
  h1 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    width: 85%;
    margin: 1em auto;
    @include tablet {
      font-size: 1.8em;
      margin: 0 2em;
    }
    @include desktop {
      font-size: 2.5em;
    }
    span {
      font-weight: bold;
    }
  }
}
.blue-overlay {
  @include blue-to-blue-light;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.info-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
}
.school-mission-container {
  font-family: $fontfamily;
  width: 90%;
  flex-basis: 100%;
  text-align: center;
  @include tablet {
    width: 60%;
    flex-basis: 60%;
    text-align: left;
    padding: 1em;
  }
  @include desktop {
    padding: 2em 2em 2em 0;
  }
  h3 {
    font-size: 1.25em;
    padding-bottom: 0.5em;
    @include desktop {
      font-size: 1.5em;
      padding-bottom: 0.25em;
    }
  }
  .school-mission {
    font-size: 0.9em;
    width: 90%;
    margin: 0 auto;
    @include tablet {
      width: 100%;
      font-size: 1em;
    }
    @include desktop {}
  }
}
.campus-course-container {
  flex-basis: 50%;
  width: 100%;
  margin: 0 auto;
  @include tablet {
    flex-basis: 25%;
    width: 25%;
    margin: 0;
  }
  .school-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
    @include tablet {
      margin: 0;
      justify-content: flex-start;
    }
  }
  .campus-course-div {
    font-family: $fontfamily;
    font-size: 1rem;
    text-align: center;
    margin-top: 1em;
    @include tablet {
      text-align: left;
      margin: 0 auto;
      padding-top: 1em;
    }
  @include desktop {
margin: 0;
}
  }
  h3 {
    margin-bottom: 0.25rem;
  }
  li,
  a {
    font-size: 0.85rem;
    line-height: 1.5rem;
    color: $city-blue;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #ee7600;
    }
  }
  li p {
    margin-bottom: 0;
  }
  p {
    font-size: 0.85rem;
  }
}
//PROJECT DISPLAY STYLES
.projects-container {
  background-color: $medium-blue;
  padding-top: 1em;
  padding-bottom: 1em;
  @include tablet {
    padding-top: 2em;
    padding-bottom: 0;
  }
}
// Project Gallery
.section-archive-partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.5rem auto;
  max-width: 90%;
}

.partner-projects-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;

  a, a:hover {
    text-decoration: none;
    outline: 0;
    display: inline-block;
    height: 240px;
    margin-bottom: 2em;
    flex-basis: 100%;

    @include tablet {
      max-height: 240px;
      max-width: 330px;
      flex: 0 0 45%;
    }

    @include desktop {
      flex: 0 0 30%;
    }
  }

  li {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
    list-style: none;
    height: 100%;
    width: 100%;

    &:hover {
      z-index: 1;
      cursor: pointer;
      box-shadow: 3px 5px 20px 0 rgba(0,0,0,0.35);
      transition: all 0.25s ease;
    }
  }
}

.title-block-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.title-block {
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.25rem;
  width: 100%;
  padding: 1% 2%;
  height: auto;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
  margin: 1em 0;

  h2 {
    font-family: $fontfamily,bold;
    font-size: 1.6em;
    color: #006493;
    font-weight: 900;
    @include tablet {
      font-size: 2em;
    }
    span {
      color: $light-blue;
    }
  }
}

.noshow {
  display: none;
}

.separate-white {
  border-top: 2px dashed white;
  background-color: transparent;
  width: 55%;
  margin-bottom: 2rem;
  margin-top: 1rem;

  @include tablet {
    margin-bottom: 3em;
    margin-top: 2em;
  }

  @include desktop {
    margin-bottom: 4em;
    margin-top: 3em;
  }
}

//MEDIA LINKS STYLES

.media-links-title {
  font-size: 1rem;
  font-family: $fontfamily;
  font-weight: bold;
  color: white;
  margin: 0.5rem 0 0.75rem 2em;

  @include tablet {
    margin: 1em 0 1em 4em;
  }

  span {
    text-transform: uppercase;
  }

  @include desktop {
    margin: 1em 0 1em 6em;
  }
}

.media-links-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 1.5em;
  margin-left: 2em;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    margin: auto 4em;
    width: 90%;
  }

  .media-links {
    width: 90%;

    @include tablet {
      width: 35%;
      padding: 1em 2em;
    }

    @include desktop {
      width: 25%;
    }

    p,
    a {
      color: #ffffff;
      font-size: 0.9rem;
      font-family: $fontfamily;
      font-weight: 550;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.no-media {
  text-align: center;
  padding: 1em 0 2.5em;
  color: #ffffff;
  font-family: $fontfamily;
}
