.banner-inner {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: center;
  padding: 0 4em;
  max-width: 1280px;
  margin: 0 auto;
}
.citystudio-banner {
  background: url("../../images/citystudio-logo.png"), $medium-blue;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4em;
  opacity: 0.9;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.team-container {
  margin: 4em 2em;
  // max-width: 1130px;
}

.citystudio-teams {
  ul {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: space-between;
  }

  h2 {
    flex: 0 1 100%;
    margin-bottom: 2em;
    text-align: center;
  }
}

.team {
  display: flex;
  flex: 0 0 20%;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 180px;
  min-height: 340px;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .team-pic {
    flex: 0 1 100%;
    border-radius: 100%;
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 1em;
  }

  h3 {
    flex: 0 2 100%;
  }

  p {
    flex: 0 3 100%;
    text-align: center;
  }

  a {
    margin-bottom: 0.5em;
  }

  &:hover {

    cursor: pointer;

    img {
      filter: opacity(0.8);
    }

    h3 {
      color: $lightest-blue;
    }
  }
}

.leaders, .operations, .founders {
  display: flex;
  flex: 0 0 20%;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70px;
  height: 100%;

  h3 {
    text-decoration: none;
  }

  p {
    text-align: center;
  }
}



// Single Person Page

article.people {
  max-width: 1130px;
  margin: 4em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.person-left {
  flex: 0 1 30%;
  border-radius: 100%;
  overflow: hidden;
  max-width: 300px;
  max-height: 300px;
}

.person-right {
  flex: 0 1 60%;
}

.person-name {

  h1, p {
    color: $light-blue;
  }
}

.static-return-button {

  a {
    font-size: 1.3em;
    color: $light-blue;
    text-decoration: underline;
    text-transform: uppercase;
  }
  a:hover {
    cursor: pointer;
    filter: opacity(0.8);
  }
}
