.team-citystudio-team {
  position: relative;
}
.people-margin {
  margin-bottom: 1em;
}
.team-height-wrap {
  min-height: 600px;
  margin: auto 0;
  display: block;
  @include tablet {
    min-height: 500px;
  }
  @include desktop {
    min-height: 500px;
  }
}
.other-height-wrap {
  min-height: 500px;
  margin: auto 0;
  display: block;
  @include tablet {
    min-height: 300px;
  }
  @include desktop {
    min-height: 280px;
  }
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .section-titles {
    display: block;
    flex: 0 1 100%;
    text-align: center;
    margin: 1em 0 0.5em;
    font-size: 1.5em;
    @include tablet {
      margin: 2em 0 1em;
    }
    @include desktop {
      font-size: 2em;
      margin: 2em 0;
    }
  }
}

.team-ul-special {
  min-height: 350px !important;
}
.people-wrap {
  display: block;
}
.citystudio-teams {
display: block;
  ul {
    flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    flex: 0 0 75%;
    max-width: 100%;
    min-height: 300px;
    @include tablet {
      display: flex;
      min-height: 200px;
      flex: 0 0 80%;
      padding: 1em;
    }
    @include desktop {
    flex-direction: row;
      display: flex;
      flex: 0 0 100%;
      min-height: 100px;
      padding: 0;
    }
  }
}
.team {
  display: flex;
  flex: 0 0 40%;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 340px;
  align-items: center;
  padding: 1em;
  text-align: center;
  @include desktop {
    flex: 0 1 22%;
  }
  .team-pic {
    flex: 0 1 100%;
    border-radius: 50%;
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 1em;
    height: 150px;
    width: 150px;
    @include tablet {
      height: 175px;
      width: 175px;
    }
    @include desktop {
      height: 200px;
      width: 200px;
    }
  }
  h3 {
    flex: 0 2 100%;
    line-height: 18px;
    @include desktop {
      line-height: 10px;
    }
  }
  p {
    flex: 0 3 100%;
    text-align: center;
  }
  a {
    margin-bottom: 0.5em;
    border: none;
    outline: none;
  }
  &:hover {
    cursor: pointer;
    img {
      filter:opacity(0.8);
    }
    h3 {
      color: $lightest-blue;
    }
  }
}
.people-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
    flex-direction: row;
  }
}
.leaders,
.operations,
.founders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  flex: 0 1 20%;
  min-height: 100px;
  @include tablet {
    flex: 0 1 40%;
  }
  @include desktop {
    flex: 0 1 20%;
  }
  h3 {
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-family: $fontfamily;
    .people-title {
      font-size: 1.4em;
      margin-bottom: 0.25em;
    }
  }
  p {
    text-align: center;
    margin-bottom: 0;
    font-family: $fontfamily;
    max-width: 200px;
  }
}
/*Single Person Page*/
article.people {
  max-width: 1130px;
  margin: 4em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $fontfamily;
  width: 100%;
  height: auto;
}
.person-left {
  display: none;
  @include tablet {
    display: block;
    flex: 0 1 30%;
    border-radius: 50%;
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    margin: 1em 0 2em 4em;
  }
  @include desktop {
    display: block;
    flex: 0 1 30%;
    border-radius: 50%;
    overflow: hidden;
    max-width: 250px;
    max-height: 250px;
    margin-left: 9%;
  }
}
.person-right {
  flex: 0 1 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 1.5em;
  height: auto;
  @include tablet {
    flex: 0 0 55%;
  }
  @include desktop {
    margin: auto 0;
    flex: 0 0 60%;
  }
  p {
    margin-top: 1.5em;
    max-width: 90%;
    font-size: 1em;
    @include tablet {
      font-size: 0.9em;
    }
    @include desktop {
      max-width: 80%;
      font-size: 1em;
    }
  }
  .role {
    margin-top: 0;
    margin-bottom: 1em;
  }
}
.person-name {
  border-bottom: 2.5px dashed $light-blue;
  width: 95%;
  @include desktop {
    width: 85%;
  }
  h1 {
    @include tablet {
      font-size: 1.5em;
    }
    @include desktop {
      font-size: 1.75em;
    }
  }
  h1,
  p {
    color: $light-blue;
    font-family: $fontfamily;
  }
}
.static-return-button a {
  font-size: 1.1em;
  font-family: $fontfamily;
  color: $light-blue;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 0;
  border: none;
  outline: none;
  @include tablet {
    padding: 1em;
    font-size: 1.2em;
  }
  @include desktop {
    padding: 1em;
    font-size: 1.3em;
  }
  a:hover {
    cursor: pointer;
    filter:opacity(0.8);
  }
}
.ppl-return {
  position: absolute;
  bottom: -46px;
  margin-left: 1em;
  @include tablet {
    margin-left: 2em;
  }
  @include desktop {
    margin-left: 3em;
  }
}
