/*--------------------------------------------------------------
# Search Page Styles
--------------------------------------------------------------*/
.search-archive-header {
  background-color:$medium-blue;
  background-size: cover;
  height: 7em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
  @include desktop {
    background: url("../../images/citystudio-logo.png") center center no-repeat;
    background-size: cover;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
  }
  h1 {
    color: #fff;
    padding-top: 1rem;
    font-family: $fontfamily;
    font-size: 1.75em;
    margin-left: 0.6em;
    @include desktop {
      font-size: 3em;
      padding-top: 0.75em;
      margin-left: 2em;
    }
  }
}
.searchform-title {
  width: 60%;
  @include desktop {
    margin-left: 1em;
  }
}
.searchform-container {
  width: 100%;
  margin-right: 1em;
  @include desktop {
    width: 40%;
    padding-top: 1em;
  }
}
.search-form {
  margin-bottom: 0;
  width: 100%;
  @include desktop {
    margin-top: 2em;
  }
}
.searchpage {
  background-color: #0082b9;
  fieldset {
    border: none;
    color: transparent;
  }
  label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto !important;
    width: 100%;
    background-color: transparent;
    border: $city-blue;
    outline: $city-blue;
    border-radius: 5px;
    height: 1rem;
    position: relative;
    @include desktop {
      height: 2.25rem;
    }
  }
  input {
    border: none;
    margin-top: 2rem;
    font-size: 1.5rem;
    margin: auto 0.2rem;
    color: $light-blue;
    border-radius: 5px;
    font-weight: 700;
    font-family: $fontfamily;
    width: 100%;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
    padding-left: 0.5em;
    @include desktop {
      font-size: 1.5em;
    }
    &::placeholder {
      color: $city-blue;
    }
  }
  .fa {
    color: $light-blue;
    font-size: 1.5rem;
    top: 0.4rem;
    right: 0.8rem;
    position: absolute;
    &:hover {
      cursor: pointer;
      color: $dark-blue;
    }
  }
}
.archive-blurb {
  background: white;
  display: flex;
  justify-content: center;
  text-align: center;
  p {
    font-family: $fontfamily;
    width: 75%;
    margin-top: 1rem;
    font-size: 1.1rem;
    @include desktop {
      width: 65%;
      margin: 4em 0;
    }
  }
}
//ARCHIVE GRID-----------------------
.search-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 90%;
  margin: 1em auto 0;
  @include desktop {
    margin: 2rem auto 0;
  }
  li,
  a {
    border: 1px solid transparent;
    flex: 0 0 100%;
    height: 250px;
    margin-bottom: 1.5em;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
    max-width: 90vw;
    @include desktop {
      flex: 0 0 30%;
      margin-bottom: 2em;
      max-width: 400px;
      height: 300px;
    }
    &:hover {
      border: 1px solid white;
      cursor: pointer;
    }
  }
}
.alert-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 1rem auto 5rem;
  border: 2px solid white;
  width: 65%;
  height: 250px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
  p,
  h2 {
    color: #ffffff;
    font-weight: 300;
    margin: 1rem;
  }
  p {
    width: 80%;
    margin: 1rem 5rem;
  }
}
