.blog-post-banner {
  width: 100%;
  height: 15em;
  display: block;

  h2 {
    color: white;
    font-family: $fontfamily;
    font-size: 1.5em;
    text-align: center;
    margin: 0.5em 0 0;
    width: 98%;

    @include tablet {
      font-size: 2em;
    }

    @include desktop {
      font-size: 3em;
    }
  }

  .post_excerpt {
    color: white;
    font-size: 1em;
    font-family: $fontfamily;
    margin: 0.5em 0 1em;
    text-align: center;
    max-width: 75%;

    @include desktop {
      font-size: 1.5em;
    }
  }
}

.blue-overlay-3 {
  @include blue-to-blue-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  @include desktop {
    height: 15em;
  }
}

.single-blog-hero {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
  width: 100%;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
}

.blog-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;

  p {
    font-family: $fontfamily;
  }
}

.blog-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  width: 100%;
  color: $city-blue;
  font-size: 1.2em;
  font-weight: bold;

  a, &:focus, &:active, &:visited {
    color: $city-blue;
    text-decoration: none;
  }

  .blog-nav-right {
    text-align: right;
  }

  .blog-nav-left {
    text-align: left;
  }

  a[rel=next] {
    margin-right: 1em;
  }

  a[rel=prev] {
    margin-left: 1em;
  }
}

.date-single {
  align-self: flex-start;
}

.hentry {
  margin: 0;
}

.single-recent-news {
  background-color: $color__background-lightblue;
}
