/*--------------------------------------------------------------
# Single Project Page Styles
--------------------------------------------------------------*/
.section-credits {
  display: flex;
  justify-content: center;
}
// HEADER
  .page-titles {
    color: white;
    font-family: $fontfamily;
    font-size: 1.5em;

    @include desktop {
      font-size: 4em;
  }
}
//HEROBANNER

.project-hero{
  display: none;
@include desktop {
  display: block;
}
}
//SHORT DESCRIPTION
.excerpt {
  margin: 2rem 1rem;
  font-family: $fontfamily;
  text-align: left;
  width: 85%;
  font-size: 1em;
  @include desktop {
    margin: 3.5rem 2rem;
    text-align: center;
    width: 65%;
    font-size: 1.15em;
}
}
//PROJECT CREDIT COLUMNS

.col-one,
.col-two {
  width: 85%;
}
@include desktop {
  .col-one,
  .col-two {
    width: 40.5%;
  }
}
.col-one {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  @include desktop {
    margin-left: 5.5em;
}
}
.col-two {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  h3 {
    font-family: $fontfamily;
  }
}

@include desktop {
  .col-two {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}
.proj-detail-wrap {
  display: block;
  margin: 0 0 1.5em;
  font-size: 1rem;
  font-weight: normal;
  font-family: $fontfamily;
  .media-links {
  margin-bottom: .5em;
  &:hover {
  color: $city-blue;
  text-decoration: underline;
}
}
}


//FULL WIDTH COLUMN: DESCRIPTION/SCALABILITY/STEWARDSHIP
.full-width-col {
  margin: 1rem;
  width: 80%;
  font-family: $fontfamily;
  display: block;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  @include desktop {
    margin: 1em 11.25em;
  }
  .scalability-wrap {
    margin-bottom: 1.5rem;
  }
  h3 {
    padding-bottom: .5rem;
  }
}
//IMAGE BAR
.image-bar{
  width: 103%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  margin: 2em 0 2em 0;

  @include desktop {

  }
  img {
  height: 200px;
  width: 300px;
  margin-right: 1em;
  border-radius: 5%;
}
}
//TAG LINKS
.tags-wrapper {
  margin-top: 0.75rem;
}
.tags {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: .5rem;
  width: 85%;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  @include desktop {
    width: 100%;
  }
  p {
    background-color: #DCDCDC;
    padding: 0.8rem 1rem;
    color: #000;
    border-radius: 5px;
    margin-right: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    &:hover {
      background-color: lighten(#DCDCDC, 5);
    }
  }
}
