/*--------------------------------------------------------------
# Single Project Page Styles
--------------------------------------------------------------*/
.section-credits {
  display: flex;
  justify-content: center;
}
// HEADER
  .page-titles {
    color: white;
    font-family: $fontfamily;
    font-size: 1.3em;
    box-shadow: none;
    @include tablet {
      font-size: 2.5em;
    }
    @include desktop{
      font-size: 3em;
    }
}
//HEROBANNER

.project-hero {
 display: none;
  max-height: 500px;
  height: 45vh;
@include desktop {
  display: block;
  height: 75vh;
  }
}
//SHORT DESCRIPTION
.excerpt {
  margin: 2rem 1rem;
  font-family: $fontfamily;
  text-align: center;
  width: 85%;
  font-size: 1.2em;
  line-height: 1.4em;
  @include tablet {
    width: 75%;
  }
  @include desktop {
    margin: 3.5rem 2rem;
    text-align: center;
    width: 65%;
    font-size: 1.5em;
    line-height: 1.8em;
  }
}
//PROJECT CREDIT COLUMNS

.column-wrap {
display: flex;
flex-direction: column;
background-color: $color__background-lightblue;
padding: .5em;
border-radius: 10px;
width: 75%;
  @include desktop {
    justify-content: space-around;
    flex-direction: row;
  }
}
.col-one,
.col-two {
  width: 85%;
  padding-top: 1em;
}
@include desktop {
  .col-one,
  .col-two {
    width: 40.5%;
  p {
    width: 85%;
}
  }
}
.col-one {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.col-two {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  h3 {
    font-family: $fontfamily;
  }
}

@include desktop {
  .col-two {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}
.proj-detail-wrap {
  display: block;
  margin: 0 0 1.5em;
  padding-left: .5em;
  font-size: 1rem;
  font-weight: normal;
  font-family: $fontfamily;
  width: 100%;
  @include desktop {
    padding-left: 0;
  }
  .media-links {
  margin-bottom: .5em;
  &:hover {
    color: $city-blue;
    text-decoration: underline;
    }
  }
}

//FULL WIDTH COLUMN: DESCRIPTION/SCALABILITY/STEWARDSHIP
.full-width-col {
  display: flex;
  flex-wrap: wrap;
  margin: 2em auto;
  width: 75%;
  font-family: $fontfamily;

  @include desktop {
    // margin: 1em 10em;
  }
  .scalability-wrap {
    margin-bottom: 1.5rem;
    flex-basis: 100%;
    width: 100%;
  }
  h3 {
    padding-bottom: .5rem;
  }
}
// IMAGE BAR
.image-bar {
  flex-basis: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  order: 4;
  @include desktop {

  }
  img {
    height: 200px;
    width: 300px;
    margin-right: 1em;
    margin-top: 1em;
    border-radius: 5%;
  }
}
// TAG LINKS
.tags-wrapper {
  flex-basis: 100%;
  width: 100%;
}
.tags {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;

  @include desktop {
    width: 85%;
  }
}
  .tag-links {
    background-color:  darken($color__background-lightblue, 2);
    padding: 1.5rem 1.5rem;
    color: #000;
    display: flex;
    align-items: center;
    margin: 0 .5em 0.5em 0em;
    border-radius: .3em;
    height: 1.3em;
    &:hover {
      background-color: darken($color__background-lightblue, 6);
      color: $dark-blue;
    }
    a{
      text-decoration: none;
    }
  }

  .tag-url {
    text-decoration: none;
    transition: all, .5s, ease;

    &:visited, &:active {
      color: $city-blue;
      text-decoration: none;
      transition: all, .5s, ease;
    }
  }

.tag-list{
    li{
      padding: 0.75rem 1rem;
      color: #000;
      border-radius: 5px;
      margin-right: .5rem;
      display: inline-flex;
      margin-bottom: .4em;
      background-color:  darken($color__background-lightblue, 2);
    }
  a{
    text-transform: capitalize;
    text-decoration: none;
  }
}

.tag-li{
  a{
    width: 100%;
  }
}

// Back to Project Button

.static-return-button {
  a {
    margin: 0;
    padding: 0;
  }
}
