/*--------------------------------------------------------------
# Single Project Page Styles
--------------------------------------------------------------*/
.section-credits {
  display: flex;
  justify-content: center;

  img {
    margin-top: 1em;
  }
}

article.project {
  margin-bottom: 80px;
}

// HEADER
h1.page-titles {
    color: white;
    font-family: $fontfamily;
    font-size: 1.5em;
    box-shadow: none;

    @include tablet {
      font-size: 2.5em;
    }
    @include desktop{
      font-size: 3em;
    }
}
//HEROBANNER

.project-hero {
 display: none;
  max-height: 500px;
  height: 45vh;

  @include desktop {
    display: block;
    height: 75vh;
  }
}

//SHORT DESCRIPTION
.project-excerpt {
  margin: .5em auto 2em;
  font-family: $fontfamily;
  text-align: center;
  width: 85%;
  font-size: 1.2em;
  line-height: 1.4em;

  @include desktop {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.8em;
  }
}
//PROJECT CREDIT COLUMNS

.column-wrap {
  display: flex;
  flex-direction: column;
  background-color: $color__background-offwhite;
  padding: .5em 1em;
  border-radius: 10px;
  width: 100%;
  @include tablet {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.col-one,
.col-two {
  width: 85%;
  padding-top: 1em;
@include tablet {
    width: 50%;
  }
  p {
    width: 85%;
  }
}

.col-one {
  order: 1;
}
.col-two {
  order: 2;

  h3 {
    font-family: $fontfamily;
  }
}

.proj-detail-wrap {
  display: block;
  margin: 0 0 1.5em;
  padding-left: .5em;
  font-size: 1rem;
  font-weight: normal;
  font-family: $fontfamily;
  width: 100%;

  @include desktop {
    padding-left: 0;
  }

  .media-links {
    margin-bottom: .5em;

    &:hover {
      color: $city-blue;
      text-decoration: underline;
    }
  }
}

//FULL WIDTH COLUMN: DESCRIPTION/SCALABILITY/STEWARDSHIP
.section-credits {

  .inner-column-wide {
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;
    font-family: $fontfamily;

    @include desktop {
      // margin: 1em 10em;
    }
    .scalability-wrap {
      flex-basis: 100%;
      width: 100%;
    }
    h3 {
      padding-bottom: .5rem;
    }
  }
}

// IMAGE BAR
.image-bar {
  width: 100%;
  overflow-x:scroll;
  white-space: nowrap;
  @include tablet {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  }
  img {
    height: 200px;
    border-radius: 5%;
  }
}
// TAG LINKS
.tags-wrapper {
  margin-top: 2em;
  flex-basis: 100%;
  width: 100%;
}
.tags {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;

  @include desktop {
    width: 85%;
  }
}
  .tag-links {
    background-color:  darken($color__background-offwhite, 2);
    padding: 1.5rem 1.5rem;
    color: #000;
    display: flex;
    align-items: center;
    margin: 0 .5em 0.5em 0em;
    border-radius: .3em;
    height: 1.3em;
    &:hover {
      background-color: darken($color__background-offwhite, 6);
      color: $dark-blue;
    }
    a{
      text-decoration: none;
    }
  }

  .tag-url {
    text-decoration: none;
    transition: all .5s ease;

    &:visited, &:active {
      color: $city-blue;
      text-decoration: none;
      transition: all .5s ease;
    }
  }

.tag-list{
  li {
    padding: .7rem 1rem;
    color: #000;
    border-radius: 5px;
    margin-right: .5rem;
    display: inline-flex;
    margin-bottom: .4em;
    background-color:  darken($color__background-offwhite, 2);
  }
  a {
    text-transform: capitalize;
    text-decoration: none;
  }
}

.tag-li {

  a {
    width: 100%;
  }
}
