/*--------------------------------------------------------------
# Slider Styles
--------------------------------------------------------------*/

/* Project Page */

.single-projects{
border-top: 1px solid $light-blue;
}

.project .bx-wrapper .bx-viewport{
  box-shadow: none !important;
}

.entry-header{
  margin-top: 1rem;
 img{
  width: 100vw;
  height: 75vh;
  margin: .5rem 0 0 0;
  }
}

img.wp-post-image{
  width: 100vw;
  height: 75vh;
  margin:.5rem 0 0 0;
}

.carousel-cell{
width: 100vw;
}

.type-project header {
  background-size: cover !important;
  background-position: top center !important;
  min-height: 500px;
}

.section-header {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  .proj-subtitle {
    height: auto;
    margin: .67em 0 0.67em 0.3em;
  h1{
  font-size: 1rem !important;
}
  }
}

.section-credits.content-wrapper{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  position: relative;
  height: 100%;
  h3{
line-height: 1rem;
}
}

.page-title {
  flex: 0 0 100%;
  text-align: left;
  h1{
margin: 1rem 0 1rem 0;
text-transform: uppercase;
}
}

.col-one, .col-two {
  width: 35vw;
}

.col-one {
  order: 1;
}

.col-two {
  order: 2;
  img{
  height: 40vh;
  width: 35vw;
  margin-bottom: .75rem;
  }
}

.proj-description p{
color: black;
}

.proj-detail-wrap {
  display: block;
  margin: 0 0 1.5em;
  font-size: 1rem;
  font-weight: normal;
}

.full-width-col{
margin: 1rem 0 10rem 0;
}

.tags-wrapper{
margin-top: .75rem;
}
