/*--------------------------------------------------------------
# Project Page Slider Styles
--------------------------------------------------------------*/
.single-projects {
  border-top: 1px solid $light-blue;
   .carousel-cell {
    width: 100vw;
  }
}
.project .bx-wrapper .bx-viewport {
  box-shadow: none !important;
}
.entry-header {
  margin-top: 1rem;
  img {
    width: 100vw;
    height: 75vh;
    margin: 0.5rem 0 0;
  }
}
img.wp-post-image {
  width: 100vw;
  height: 75vh;
  margin: 0.5rem 0 0;
}

span.excerpt{
margin: 0 auto;
font-family: $fontfamily;
}

@include desktop {
  .type-project header {
    background-size: contain !important;
    min-height: 500px;
  }
}

.type-project header {
  background-size: cover !important;
  background-position: top center !important;
  min-height: 400px;
}

.section-header {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-family: $fontfamily;

  .proj-subtitle {
    height: auto;
    margin: 0.67em 0 0.67em 0.3em;
    font-family: $fontfamily;

    h1 {
      font-size: 1rem !important;
      font-family: $fontfamily;

    }
  }
}

.section-credits.content-wrapper {
  width: 100vw;
}

@include desktop {
.section-credits.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  position: relative;
  height: 100%;
  h3 {
    line-height: 2rem;
  }
}
}
.page-title {
  flex: 0 0 100%;
  text-align: left;
  h1 {
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: $fontfamily;
  }
}

.col-one,
.col-two {
  width: 95vw;
}

@include desktop {
.col-one,
.col-two {
  width: 35vw;
  }
}
.col-one {
  order: 1;
}

.col-two{
order: 2;
}

.col-two img {
  display: none;
}
@include desktop {
.col-two {
  order: 2;
  img {
    height: 40vh;
    width: 35vw;
    margin-bottom: 0.75rem;
    display: block;
  }
  h3{
    font-family: $fontfamily;
  }
}
}
.proj-description p {
  color: black;
  font-family: $fontfamily;

}
.proj-detail-wrap {
  display: block;
  margin: 0 0 1.5em;
  font-size: 1rem;
  font-weight: normal;
  font-family: $fontfamily;

}
.full-width-col {
  margin: 1rem 0 9rem;
  width: 95vw;
  font-family: $fontfamily;
  display: block;
  order: 3;

}
.tags-wrapper {
  margin-top: 0.75rem;
}

.proj-scalability{
  font-family: $fontfamily;
}

.tags {
  display: inline-flex;
  margin-top: .5rem;
  p{
    background-color: #DCDCDC;
    padding: .8rem 1rem;
    color: black;
    border-radius: 5px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }
}
