/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Tag Archive Page */

.tag-archives {
  background-color: $medium-blue;
  padding-top: 2em;


  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .archive-header {
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
    font-size: 1.5rem;
    width: 90vw;
    padding: 0 0.5em;
    height: 2.5rem;

    @include desktop {
      height: 6.5rem;
      margin-bottom: 1.5rem;
    }
    @include desktop {

      h2 {
        font-family: 'open_sans', bold;
        font-size: 4rem;
        color: $light-blue;
        font-weight: 900;
        margin-top: 0.2rem;

        span {
          color: $dark-blue;
        }
      }
    }
  }

  h1 {
    margin: 0;
  }
}

.tag-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 4em;
  margin: 1.5rem 1.5em 0 1.5rem;
  box-sizing: border-box;
  padding: none;
  width: 90vw;

  a {
    flex: 0 0 33%;
    background-position: center center !important;
    background-size: cover !important;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
    max-width: 360px;
    max-height: 280px;
    margin-bottom: 1rem;

    @include desktop {
      margin: 0 auto 2rem;
      width: 360px;
      height: 280px;
      font-size: 3rem;
    }
  }

  li {
    height: 100%;
  }
}

.tag-description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: white;
  font-family: $fontfamily;
  overflow: hidden;

  &:hover {
    display: flex;
    border: 2px solid #fff;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    opacity: 1;
    background-color: transparentize($dark-blue, .05);
    padding: 1rem;
    cursor: pointer;
  }
}

.tag-description-title {
  flex: 0 1 100%;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: $fontfamily;
  color: #fff;
  text-decoration: none;
  text-align: center;
  max-height: 80%;
}

.tag-subtitle p {
  width: 100%;
  flex: 0 2 100%;
  font-family: $fontfamily;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
  overflow: hidden;
  font-size: .9em;
}



