/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* Tag Archive Page */

.tag-section-archives{
    width: 95%;
}

.tag-archives {
  background-color: $medium-blue;
  padding-top: 1em;

  @include tablet {
    padding-top: 3em;
  }

  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .archive-header {
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.5rem;
    width: 90%;
    padding: 3% 2%;
    // min-height: 2.5rem;
    text-transform: capitalize;
    margin: 1em 0;

    @include tablet {
      padding: 1% 2%;
      margin-top: 0;
    }
    @include desktop {
      // min-height: 5rem;
    }

    h2 {
      font-family: 'open_sans', bold;
      font-size: 1.6em;
      line-height: 1.2em;
      color: $light-blue;
      font-weight: 900;

      span {
        color: $dark-blue;
      }
    }
  }
  h1 {
    margin: 0;
  }
}
.section-archives {
width: 90%;
}

.tag-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em;

  @include tablet {
    justify-content: space-around;
    margin: 2em auto;
  }

  @include desktop {
  margin: 2em auto;
  }

  li,
  a {
    border: 1px solid transparent;
    flex: 0 0 93%;
    height: 230px;
    min-height: 230px;
    // min-width: 330px;
    width: 100%;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
    margin-bottom: 2em;

    @include tablet {
      flex: 0 0 47%;
      min-height: 230px;
      // min-width: 330px;
      margin-bottom: 2em;
      max-height: 230px;
      // max-width: 330px;
    }
    @include desktop {
      flex: 0 0 31%;
      height: 200px;
      // width: 280px;
    }
    &:hover {
      border: 1px solid white;
      z-index: 1;
      cursor: pointer;
      box-shadow: 3px 5px 20px 0 rgba(0,0,0,0.35);
      transition: all 0.25s ease;
    }
  }
}
.tag-description {
  position: relative;
  height: 38%;
  width: 90%;
  left: -1px;
  color: #fff;
  font-family: $fontfamily;
  padding: .75em 1em;
  box-sizing: border-box;
  transition: all 0.45s ease;
  top: 50%;
  background: linear-gradient(to right,#0277a7 0,#0188bb 24%,rgba(0,165,220,.9) 63%,rgba(0,177,234,.9) 80%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  &:hover {
    left: 0;
    transition: all 0.45s ease;
  }
}
.tag-description-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: $fontfamily;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.tag-subtitle {
  display: none;
}
