h2.page-titles {
  color: white;
  font-family: $fontfamily;
  font-size: 1.5em;
  box-shadow: none;
  @include desktop {
    font-size: 3em;
  }
}
.wwd-content {
  display: block;
  justify-content: center;
}
.template-hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2em;
  width: 100%;
  height: 55%;
  @include desktop {
    height: 500px;
  }
}
.section-header {
  width: 85%;
  padding: 1em;
  margin: 0 auto;
  @include desktop {
    width: 65%;
    padding: 2em
  }
  h3 {
    font-size: 1.25em;
    padding-bottom: 2%;
    width: 170px;
    font-family: $fontfamily;
    @include desktop {
      font-size: 1.5em;
      padding-bottom: 1%;
    }
  }
  p {
    font-size: 1em;
    line-height: 1.5rem;
    font-family: $fontfamily;
    @include desktop {
      font-size: 1em;
      line-height: 1.8rem;
    }
  }
}
//Call to action block
.cta_blurb {
  display: none;
  @include desktop {
    display: block;
    width: 70%;
    margin-left: 3em;
  }
}
.call-to-action {
  display: flex;
  position: relative;
  background-color: $color__background-lightblue;
  padding: 40px;
  font-size: 18px;
  .cta-heading {
    width: 90%;
    padding-bottom: 2%;
    font-family: $fontfamily;
  }
  .cta-content {
    width: 100%;
    p {
      margin-right: 5em;
      font-family: $fontfamily;
      font-size: 0.8em;
      margin-bottom: 0;
    }
  }
}
.connect {
  background-color: $light_blue;
  border-radius: 3px;
  margin: 0 1em;
  height: 100px;
  width: 100%;
  max-width: 500px;
  padding: 0.9em 0;
  color: white;
  position: relative;
  text-align: center;
  box-shadow: 0 0 8px #666666;
  &:hover {
    box-shadow: 0 0 12px #666666;
    transition: all 0.25s ease;
}
  @include tablet {
    margin-top: 0;
  }
  @include desktop {
    width: 30%;
    margin: auto 4em;
  }
  .become-involved {
    font-weight: bold;
    display: inline-block;
    width: 100%;
  }
  p {
    color: white;
    font-weight: bold;
    font-size: 1em;
    display: table-cell;
    letter-spacing: 3px;
    padding-top: 1.6em;
  }
  a {
    color: white;
    padding: 14px;
    border: 3px solid white !important;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $light-blue;
    text-align: center;
    transform: scale(1);
    transition: all 0.1s;
    display: inline;
    &:hover {
      background: lighten($light-blue, 0.5);
      transform: scale(1);
      animation: '';
      box-shadow: 0 1px 3px #EEEEEE, 0 45px rgba(#fff, 0.12) inset;
    }
    &:active {
      box-shadow: 0 0 0 0 #BBB7AE;
    }
  }
}
