.page-title {
  margin: 0;
  width: 100%;
  height: 7rem;
  // background-origin: content-box;
  // background-size: 1844px 200px;
  h1 {
    color: #fff;
    margin-left: 5.2%;
    padding-top: 1rem;
    font-family: $fontfamily;
  }
}
.wwd-content{
  display: block;
  justify-content: center;
  padding: 2% 0;
}
.wwd-hero{
  background: url(../../images/CityStudio-LandingPage-bg.jpg) no-repeat bottom center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  @include iphone6{
    height: 55vh;
  }
}
.section-header{
  max-width: 928px;
  padding: 2rem;
  margin: 0 auto;
  .separate{
    border-top: 3px dashed #76d6ff;
    background-color: #fff;
    margin: 2rem 0;
  }
  h3{
    font-size: 20px;
    padding-bottom: 1%;
    width: 170px;
  }
  p{
    font-size: 18px;
    line-height: 1.8rem;
  }
}
.call-to-action{
  display: flex;
  position: relative;
  background-color: #f9f9f9;
  padding: 4% 6% 3% 10%;
  max-width: 1844px;
  font-size: 18px;
  .cta-heading{
    width: 90%;
    padding-bottom: 2%;
    @include iphone6{
      display: none;
    }
  }
  .cta-content{
    width: 100%;
    p{
      margin-right: 65px;
      @include tablet{
        display: none;
      }
    }
  }

}
.connect{
  display: block;
  width: 285px;
  height: 110px;
  border-radius: 2px;
  padding: 9px;
  margin-left: 08px;
  background-color: $light_blue;
  color: white;
  text-align: center;
  -moz-box-shadow: 0 0 8px #666666;
  -webkit-box-shadow: 0 0 8px #666666;
  box-shadow: 0 0 8px #666666;
  @include tablet{
    margin-top: 0;
  }
  @include iphone6{
    margin: 0;
  }
  .become-involved{
    font-weight: bold;
  }
  p{
    color: white;
    font-weight: bold;
    font-size: 19px;
    display: table-cell;
    padding: 0 20%;
    letter-spacing: 3px;
  }
  button{
    color: white;
    padding: 8px;
    border: 3px solid white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $light_blue;
    text-align: center;
    margin: 12px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transition: all .1s;
    &:hover {
    background: $light-blue;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-animation:'';
    -moz-animation:none;
    -ms-animation:'';
    -o-animation:'';
    animation:'';
    box-shadow: 0 1px 3px #EEEEEE, 0 45px rgba(#fff, 0.12) inset;

    }
    &:active{
        box-shadow:  0 0 0 0 #BBB7AE;
    }
  }
}
.cta_blurb{
  display: block;
}