# Ignore OS files #
# =============== #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes

# Ignore logs and databases #
# ========================= #
*.log
*.sql
*.sqlite
error_log
access_log


# Ignore packages #
# =============== #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore npm packages #
# =============== #

wp-content/themes/citystudio/node_modules/
wp-content/themes/citystudio/gulpfile.js

# Ignore everything in the root except the "wp-content" directory.
# =============== #
/*

wp-content/uploads/formidable/css/formidablepro.css
wp-content/uploads/formidable/css/index.php
wp-content/uploads/formidable/index.php

wp-config.php
wp-content/uploads/*
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced.cache.php
wp-content/wp-cache.config.php
wp-content/cache/*
wp-content/cache/supercache/*

.gitattributes
_weprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common

!wp-content/
!README.md

# Ignore everything in "wp-content" except the "plugins" and "themes".
# =============== #
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in "plugins" except certain plugins.
# =============== #
wp-content/plugins/*
wp-content/plugins/formidable/*
!wp-content/plugins/citystudio-custom-funcs/

# Ignore everything in "themes" except the active theme.
# =============== #
wp-content/themes/*
!wp-content/themes/citystudio/
